@font-face {
    font-family: 'karmilla';
    src: url('fonts/karmilla-bold-016-webfont.eot');
    src: url('fonts/karmilla-bold-016-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karmilla-bold-016-webfont.woff2') format('woff2'),
         url('fonts/karmilla-bold-016-webfont.woff') format('woff'),
         url('fonts/karmilla-bold-016-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'karmilla';
    src: url('fonts/karmilla-regular-016-webfont.eot');
    src: url('fonts/karmilla-regular-016-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karmilla-regular-016-webfont.woff2') format('woff2'),
         url('fonts/karmilla-regular-016-webfont.woff') format('woff'),
         url('fonts/karmilla-regular-016-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 16px;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: karmilla, sans-serif;
	letter-spacing: 0.024em;
	line-height: 1.420;
	color: #fefefe;
	background: rgb(24, 24, 24);
}
#tomat {
	display: block;
	width: 120px;
	margin: 2rem auto;
	border: 1px solid black;
	border-radius: 100%;
	box-shadow: 1px 1px black, 2px 2px black,
	3px 3px black, 4px 4px black,
	5px 5px black, 6px 6px black;
	-webkit-animation: fargemagi 13s alternate infinite;
	animation: fargemagi 13s alternate infinite;
}
@-webkit-keyframes fargemagi {
   0% { -webkit-filter: hue-rotate(0deg); }
   50% { -webkit-filter: hue-rotate(180deg); }
   100% { -webkit-filter: hue-rotate(360deg); }   
}
@keyframes fargemagi {
   0% { filter: hue-rotate(0deg); }
   50% { filter: hue-rotate(180deg); }
   100% { filter: hue-rotate(360deg); }   
}
h1 {
	font-size: 3rem;
	text-align: center;
	margin: 2rem auto 0;
	color: lime;
	text-shadow: -1px -1px black, -1px 1px black, 1px -1px black,
		1px 1px black, 2px 2px black,
		3px 3px black, 4px 4px black,
		5px 5px black, 6px 6px black;
	transform: translate(-4px, -4px);
}
h2 {
	font-weight: normal;
	font-size: 1rem;
	text-align: center;
	margin: 0 auto 4rem;
}
main {
	max-width: 666px;
	margin: auto;
	padding: 0 2rem 4rem;
	transform: rotate(-2deg);
}
p {
	font-size: 1rem;
	letter-spacing: normal;
}
p.right-align {
	text-align: right;
	font-size: 0.8rem;
}
#contact a {
	font-weight: bold;
	font-size: 2rem;
	color: gold;
	text-shadow: -1px -1px black, -1px 1px black, 1px -1px black,
		1px 1px black, 2px 2px black,
		3px 3px black, 4px 4px black;
	text-decoration: none;
}