// Default
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	min-height: 100%;
}

body {
 	background-color: var(--color-background);
 	color: var(--color-text);
 	transition: color .6s ease-in-out, background-color .6s ease-in-out;
	height: 100%;
  margin: 0;
  padding: 0;
}

a:not(.button) {
	color: var(--color-link);
 	transition: color .2s ease-in-out;
	text-decoration: none;
	&:hover {
		color: var(--color-hover);
	}
}

img {
	max-width: 100%;
}