.project {
  &-mainimage {
    width: 100%;
    padding: 2rem 0;
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 80vh;
    }
  }
  &-info {
    font-size: var(--font-size-s);
    margin: 4rem auto 6rem;
    max-width: 40rem;
    position: relative;
    z-index: 200;

    @media (min-width: 666px) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: var(--spacing-gap);
    }
  }

  &-title {
    font-size: var(--font-size-l);
    font-weight: 800;
    margin: 0 0 0.6rem;
  }
  &-year {
    font-weight: 300;
    color: var(--color-text-opacity);
    &:before {
      content: "";
      display: inline-block;
      height: 1px;
      width: 2rem;
      margin: 0 0.4rem 0 0;
      background: var(--color-text-opacity);
      vertical-align: middle;
    }
  }

  &-lead {
    margin: 0 0 1rem;
  }

  &-tags {
    .tag-list {
      margin: 0;
      padding: 0;
    }
    .tag {
      display: inline-block;
      color: var(--color-text);
      background: var(--color-background);
      border: 1px solid var(--color-text-opacity);
      border-radius: 2rem;
      text-decoration: none;
      margin-right: 0.42em;
      padding: 0.2em 0.66em;
      font-size: var(--font-size-xs);
      opacity: 0.6;
      cursor: default;
    }
  }

  &-link {
    margin-bottom: 0.6rem;
    a {
      display: inline-block;
      color: var(--color-background);
      background: var(--color-link);
      border-radius: 2rem;
      text-decoration: none;
      margin-right: 0.66rem;
      padding: 0.2rem 0.66rem;
      text-transform: uppercase;
      letter-spacing: var(--letter-spacing);
      &:hover {
        color: var(--color-background);
      }
    }
  }

  &-gallery {
    margin: 6rem 0;

    &-column {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--spacing-gap);
      align-items: center;

      &.asymmetric {
        .project-image:nth-of-type(odd) {
          padding: 0 0 36% 0;
        }
        .project-image:nth-of-type(even) {
          padding: 36% 0 0 0;
        }
      }
    }
    &-row {
      display: flex;
      gap: var(--spacing-gap);
    }
  }

  &-image {
    margin: 0 auto;
    img {
      display: block;
      margin: 0 auto var(--spacing-gap);
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);

      &.no-shadow {
        box-shadow: none;
      }
    }
  }

  .quote {
    margin: 4rem auto 6rem;
    width: 50%;
    min-width: 240px;

    blockquote {
      font-size: var(--font-size-s);
      font-style: italic;
      margin-bottom: 1rem;
      padding-right: 1.2rem;
    }
    &-by {
      font-size: var(--font-size-s);
      text-align: right;
    }
  }
}

.project-archive {
  margin-top: 9rem;
  border-top: 1px solid var(--color-text-opacity);

  &-heading {
    padding: 1rem 0;
    margin: 0 0 1rem;

    span {
      font-style: italic;
      font-size: var(--font-size-xs);
      color: var(--color-text-opacity);
    }
  }
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--spacing-siteborder);

  @media (min-width: 2400px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (max-width: 1900px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}
