:root {
  --font-mono: 'roboto mono', monospace;
  --font-serif: 'itc clearface', serif;
}

html {
  font-size: calc(14px + 6*(100vw - 320px)/1200);
}

body {
  font-family: var(--font-mono);
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: .012em;
}

p {
	margin-bottom: 1.24rem;
  max-width: 32rem;
  line-height: 1.6;
}

.lead {
  font-family: var(--font-serif);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.36;

  strong {
    font-weight: 500;
  }
}

h1, h2, h3, h4, h5 {
  transition: color .6s;
  color: var(--title-color);
  margin: 2.75rem 0 1rem;
  font-family: var(--font-mono);
  font-weight: 200;
  line-height: 1.1;
}


h1 {
  margin-top: 0;
  font-size: 6rem;
  font-weight: 200;
}

h2 {font-size: 1rem;}

strong {
  font-weight: 600;
}

blockquote {
  border-left: 4px solid var(--border-color);
  padding-left: calc(var(--space) / 2);
  color: var(--title-color);
}

em {
  font-style: italic;
}

ul { 
  list-style-type: disc; 
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  li {
    margin-bottom: .6em;
  }
}
ol { 
  list-style-type: decimal; 
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  li {
    margin-bottom: .6em;
  }
}