:root {
	// color palette
	--color-green: #24e666;
	--color-black: #111;
	--color-white: #fefefe;
	--color-red: #e60666;
	--color-git: #386132;
	--color-yellow: #fff420;
	--color-purple: #420666;
	--color-orange: #e66624;
}

// light theme + basics
body {
 	--color-background: var(--color-white);
 	--color-text: var(--color-black);
 	--color-link: var(--color-red);
	--color-hover: var(--color-green);

	--spacing-siteborder: 1.6rem;

	--font-size-small: .8rem;
	--font-size-xsmall: .68rem;

	--letter-spacing: .12em;
	--letter-spacing-large: .36em;
}

// dark theme
body[data-theme="dark"] {
 	--color-background: var(--color-black);
 	--color-text: var(--color-white);
 	--color-link: var(--color-green);
	--color-hover: var(--color-red);
}

// mobile
@media screen and (max-width: 666px) {
	body {
		--spacing-siteborder: 1rem;
	}
}