:root {
	// color palette
	--color-green: #24e666;
}

// light default theme
body {
 	--bg-color: #eee;
	--bg-image: linear-gradient(#eee, #fff);
 	--bg-content-color: rgb(255, 255, 255);
 	--color-text: rgb(49, 43, 35);
 	--title-color: rgb(26, 23, 23);
 	--link-color: #e61755;
	--color-hover: #24e666;
 	--border-color:  rgba(0,0,0,.1);;
  --space: 3.5rem;
  --content-width: 860px;
  --radius: 6px;
}

// make  things smaller for mobile
@media screen and (max-width: 666px) {
	body {
		--space: 1.5rem;
	}
}


// override variables for dark theme
body[data-theme="dark"] {
 	--bg-color: #090909;
	--bg-image: linear-gradient(#090909, #000);
 	--bg-content-color: #0f4440;
 	--border-color:  rgba(255,255,255,.1);;
 	--color-text: #ced8de;
 	--title-color: #fff;
 	--link-color: #f08124;
}