* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:focus {
    outline: none;
    padding-bottom: 0.1rem;
    margin-bottom: 0.1rem;
    border-bottom: 1px solid #fed246;
  }
  border-radius: 2px;
}

html {
	font-size: calc(16px + 6 * ((100vw - 480px) / 1900));
  height: 100%;
}

body {
	margin: 0;
  padding: 0;
  color: $color-text-night;
  background: $color-background-night;

  font-family: 'itc clearface', sans-serif;
  letter-spacing: 0.012em;
  line-height: 1.42;

  &.day {
    color: $color-text-day;
    background: $color-background-day;
  }

  transition: color 0.24s ease-in-out, background 0.24s ease-in-out;

  @media (max-width: 700px) {
    padding: 0;
  }
}

main {
  margin: 8rem 0 0 12rem;
}

section {
  position: relative;
  padding: 0 1rem;
  margin-bottom: 6rem;
}

h1, h2, p {
  margin: 0 0 1.24rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h2 {
  font-size: 1.46rem;
}

p {
  line-height: 1.6;
  max-width: 30.8rem;
  position: relative;
}

.drop:first-letter {
  font-family: georgia, serif;
  font-size: 3.2em;
  float: left; 
  margin: 0;
  margin-top: 0.6rem;
  line-height: 0.6;
}

.lead {
  font-size: 1.8rem;
  line-height: 1.36;
  margin-bottom: 3.24rem;
  max-width: 36rem;
}

p img {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  margin: 0 0.24em;
}

a {
  text-decoration: none;
  transition: all 0.13s ease-in-out;
  font-weight: 400;
  &:hover {
    color: inherit;
  }
}

p a {
  color: $color-link-night;
}

.day p a {
  color: $color-link-day;
  &:hover {
    color: $color-text-day;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.1s linear;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}