* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:focus {
    outline-color: $color-white;
  }
}

html {
	font-size: calc(14px + 6 * ((100vw - 480px) / 1200));
	height: 100%;
}

body {
	margin: 0;
  padding: 0 2rem;
  color: $color-white;
  background: rgb(0, 0, 0);
  background-image: radial-gradient(rgb(12, 6, 24), rgb(0, 0, 0));
  
  font-family: sans-serif;
  font-weight: 300;
	letter-spacing: 0.06em;
	line-height: 1.42;
}

main {
  max-width: 36rem;
  margin: 6rem auto 24rem;
}

section {
  position: relative;
}

h1, p {
  margin: 0 0 2rem;
}

p {
  line-height: 1.6;
  max-width: 36rem;
  position: relative;
}

.lead:first-letter {
  font-size: 2.8em;
  float: left; 
  margin: 0;
  line-height: 1;
}

.lead {
  font-family: 'karmina', georgia, serif;
  font-size: 1.8em;
  line-height: 1.36;
  margin-bottom: 3.24rem;
}

p img {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  margin: 0 0.24em;
}

a {
  color: $color-white;
  text-decoration: none;
  transition: all 0.13s ease-in-out;
  font-weight: 400;
  &:hover {
    color: $color-green;
  }
}

p a {
  text-decoration: underline;
}

button {
  display: block;
  margin-bottom: 0.6em;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  color: $color-white;
  background: transparent;
  border: 1px solid $color-white;
  border-radius: 3px;
  transition: all 0.13s ease-in-out;
  padding: 0.6em 1em 0.7em;

  &:hover {
    color: $color-green;
    border-color: $color-green;
    cursor: pointer;
  }
}