@font-face {
  font-family: 'itc clearface';
  src: url('assets/fonts/itc-clearface-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');