
$serif: 'itc clearface', serif;
$monospace: 'roboto mono', monospace;

$font-xs: 0.68rem;
$font-sm: 0.8rem;

$color-green: #24e666;
$color-green-dark: #12684b;
$color-yellow: #fed246;
$color-yellow-dark: #fab800;
$color-purple: #a12e68;
$color-purple-dark: #6c2448;
$color-red: #fe2436;
$color-red-dark: #b20418;
$color-white: #fefefe;
$color-black: #111111;
$color-blacker: #060606;

$color-background: linear-gradient($color-black, $color-blacker);
$color-text: $color-white;
$color-subtext: $color-purple;
$color-link: $color-green;
$color-hover: $color-green;

$color-background-day: $color-white;
$color-text-day: $color-black;
$color-subtext-day: $color-purple;
$color-link-day: $color-red;
$color-hover-day: $color-red;

$color-border: $color-black;
$color-border-day: $color-black;

$color-browser: #424242;
$color-browser-day: #242424;

$width-p: 32rem;
$width-lead: 36rem;

$sm: 800px;
$m: 1200px;




@mixin fadeAnimation {
  opacity: 0;
  animation: fade-in .6s linear;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin fadeUpAnimation {
  opacity: 0;
  animation: fade-up .6s ease;
  animation-fill-mode: forwards;
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translate(0, .4rem);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}