

$color-green: #24e666;
$color-text-night: #fefefe;
$color-text-day: #181818;

$background-color-night: rgb(0, 0, 0);
$background-image-night: radial-gradient(rgb(12, 6, 24), rgb(0, 0, 0));

$background-color-day: rgb(248, 248, 248);
$background-image-day: none;
