

$color-green: #24e666;
$color-green-dark: #12684b;
$color-yellow: #fed246;
$color-yellow-dark: #fab800;
$color-purple: #a12e68;
$color-purple-dark: #6c2448;
$color-red: #fe2436;
$color-red-dark: #b20418;
$color-white: #fff6e8;
$color-black: #181818;

.day {
  $color-white: pink;
}


$color-text-night: $color-white;
$color-background-night: $color-black;
$color-link-night: $color-yellow;

$color-text-day: $color-black;
$color-background-day: $color-white;
$color-link-day: $color-red;

$serif: 'itc clearface', serif;
$monospace: 'roboto mono', monospace;